.img-banner {
  background-image: url('http://3.bp.blogspot.com/-6_tU0tRj4og/Tm-c9VCn42I/AAAAAAAAEvo/ET-a8p-j0mU/s1600/solid%2Bblue%2Bcolor%2Bbackgrounds%2B2.jpg');
  background-color: #ffffff; 
  height: 40vh;
  background-size: cover;
}
.img-headshot {
  height: 25vh;
  width: 25vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px;
}
.img-edu {
  height: 10vh;
  width: 10vh;
}
.img-bsu {
  height: 10vh;
  width: 12vh;
}
.img-personal {
  height: 30vh;
  width: 45vh;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px;
}
.img-code {
  height: 12vh;
  width: 12vh;
}
.img-projects {
  height: 25vh;
  width: 25vh;
}
.txt-font {
  font-family: 'Indie Flower', cursive;
}
.txt-font-v2 {
  font-family: 'Blinker', sans-serif;
}
.h1-banner {
  font-size: 7rem;
}
.h3-banner {
  font-size: 3rem;
}
.h5-edu {
  display: inline;
  margin-left: 15px;
}
p, ul {
  font-family: 'Blinker', sans-serif;
}
.link-row {
  background-color: #f2f2f2;
}
.personal-row {
  height: 110vh;
}
.knowledgebase-row {
  height: 10vh;
}
.coding-row {
  height: 110vh;
  overflow: scroll;
}
.projects-row {
  height: 50vh;
}
::-webkit-scrollbar {
  display: none;
}
.clr-html {
  color: #EC6633;
}
.clr-css {
  color: #128FD2;
}
.clr-js {
  color: #FBDF5E;
}
.clr-cmd {
  color: #8EC63F;
}
.clr-git {
  color: #EF5032;
}
.clr-njs {
  color: #76993E;
}
.clr-vjs {
  color: #4CBB88;
}
.clr-ang {
  color: #B52E31;
}
.clr-react {
  color: #00D9FF;
}
.clr-aws {
  color: #FBB135;
}
.clr-dock {
  color: #0061BD;
}
.p-marg {
  margin-top: 30px
}